body {
    background-color: #093A68;
}

h1 {
    color: white;
}

.customtext {
    color: #6C917D;
}

.custombtn {
    background-color: #87C43C;
    color: white;
}

.custombtn:hover {
    background-color: #6C917D;
    color: white;
}

.custom-container {
    border-radius: 15px;
    background-color: #6C917D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: white;
}

.custom-text {
    font-weight: bold;
    color: #9F9F9F;
}

.animate {
    animation: campana .2s ease-in infinite;
}

@keyframes campana {
    0% {
        margin: 0px;
    }
    50% {
        margin-left: 3px;
    }
    100% {
        margin: 0px;
    }
}